<Settings>
<Information>
Di aplikasi ini, Anda tidak bisa:
1. [ALT + TAB]
2. Pindah ke desktop lain
3. Membuka Task Manager.

Untuk keluar dari program, tekan [CTRL + Q]

Dibuat oleh Hansen Artajaya
Harap beritahukan jika ada masalah di aplikasi.
</Information>
  
<Url>http://www.google.com</Url>
</Settings>